/* Variables */
:root {
    --searchBg: #fdf8ff;
    --fg: #000000;
    --fontFamily: 'Roboto', monospace;
}

/* Base styles */
html,
body {
    width: 100%;
    height: 100%;
    background: var(--searchBg);
    font-family: var(--fontFamily);
}

h1 {
    color: #333;
    font-size: 1.8em;
}

h2 {
    color: #555;
    font-size: 1.3em;
}

p {
    color: #444;
    line-height: 1.5;
}

/* Page */
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.split {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    height: 25em;
    padding-top: 4em;
}

/* middle column */
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20em;
    height: 20em;
    max-width: 33%;
}

.input-row {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
}

.input-row label {
    font-size: 0.7em;
    color: #444;
}

.input-row input {
    width: 4em;
    padding: 0.3em;
}

/* left and right columns */
.imgcontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20em;
    max-width: 33%;
    height: 100%;
}

.imgcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20em;
    height: 20em;
    overflow: hidden;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    border-radius: 10px;
    position: relative;
    bottom: 1em;
}

/* pre image drop display */
.imgcolumn.noimage {
    border: 1px dashed #848184;
    background-color: #f4f7fb;
    outline-offset: -10px;
}

.placeholder-box {
    margin: 1em;
    padding: 2em;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* drag and drop */
.imgcolumn.drag-over {
    border: 1px dashed #b13f6f;
    background-color: #e7ddec;
    box-shadow: inset 0 0 10px #b027524d;
}

/* drag and drop */
.imgcolumn.noimage.dragged-in {
    outline: none;
}

/* image display to fit in box */
.pixelated_img {
    position: relative;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    display: block;
    overflow: hidden;
    border-radius: 10px;
}

/* upload button display */
input[type="file"] {
    display: none;
}

.custom-upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f46496;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-upload-button:hover {
    background-color: #b13f6f;
}

.upload-controls.noimage {
    display: block;
    position: relative;
}

/* convert button */
.custom-upload-button.convert {
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%,
            85% 100%, 0% 100%, 10% 50%);
    border-radius: 0;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* about button */
#about {
    position: fixed;
    bottom: 5px;
    right: 10px;
    font-size: 1.2rem;
}

#about a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
}

#about a:hover {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

/* about page */
.contributor {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card {
    width: 100%;
    max-height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.back-container {
    text-align: center;
}

.back-button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

/* mobile display */
@media (max-width: 768px) {
    .split {
        flex-direction: column;
    }

    .column,
    .imgcontainer {
        max-width: 100%;
    }
}