<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Search</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <!-- title -->
        <h1>Pixelator</h1>

        <!-- container to split page into three columns -->
        <form action="/" method="POST" enctype="multipart/form-data">
        <div class="split">

            <!-- column one: image input -->
            <div class="imgcolumn">
                <h2>Original Image</h2>
                {% if original_url %}
                <img class="pixelated_img" src="{{ original_url }}" alt="Original Image" />
                {% else %}
                <div class="placeholder-box"></div>
                {% endif %}
                
                <div class="upload-controls">
                    <input type="file" name="image" accept=".jpg, .jpeg, .png" required>
                </div>
            </div>

            <!-- column two: number of pixels input and button -->
            <div class="column">
                <!-- <form action="/" method="POST"> -->
                <div class="input-row">
                    <label for="search-field">Number of pixels:</label>
                    <input id="search-field" type="text" name="pixel-amnt" placeholder="" autofocus required />
                </div>
                <button type="submit">Convert</button>
                <!-- </form> -->
            </div>

            <!-- column three: image output -->
            <div class="imgcolumn">
                <!-- display the image if a url exists, i.e. after conversion -->
                {% if img_url %}
                <img class ="pixelated_img" src="{{ url_for('static', filename=img_url) }}" alt="Converted Image" />
                {% endif %}
            </div>
        </div>
        </form>
    </div>
</body>

</html>